* {
	margin: 0;
	padding: 0;
}


/*全局div*/

body {
	/*overflow: hidden;*/
}

#all {
	border: 1px white solid;
	width: 1000px;
	height: 800px;
	margin: 0 auto;
	text-align: center;
	background: url(/statics/img/l_img/one.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/*发布房源div*/

#addHome {
	margin: 0 auto;
	margin-top: 20px;
	width: 900px;
	height: 600px;
	background-color: rgb(105,105,105,0.7);
	border-radius: 10px;
	display: none;
}
#addHome h1{
	color: #B3EE3A;
}


/*基本信息*/

legend {
	/*border: 1px red solid;*/
	font-size: 20px;
	color: white;
	text-align: left;
}

#add1 {
	margin: 0 auto;	
	text-align: center;
	border: 2px lightpink solid;
	width: 98%;
	height: 200px;
	font-size: 17px;
	margin-bottom: 5px;
	color: #B3EE3A;
}



#add1 input {
	width: 200px;
	height: 23px;
	margin-top: 3px;
	margin-bottom: 5px;
}
#add1 select{
	width: 200px;
	height: 30px;
	text-align: center;
}
#add1 ul{
	list-style: none;
}

/*房子标签div*/
#homespan{
	width: 275px;
	height: 170px;
	float: right;
	background: #A9A9A9;
	border-radius: 5px;
	/*border: 1px blue solid;*/
	margin-right: 5px;
}

#add2 {
	margin: 0 auto;
	margin-bottom: 10px;
	border: 2px lightpink solid;
	width: 90%;
	height: 280px;
	font-size: 16px;
	color: white;
}

.container {
	width: 100%;
	text-align: center;
}

.container button {
	width: 100px;
	height: 30px;
	margin: 0 15px 0 5px;
	/*padding: 10px;*/
}


/*图片上传*/

/*提交按钮*/
#submit{
	color: lightyellow;
	width: 250px;
	padding: 12px 30px 12px 30px;
	font-size: 25px;
	outline: none;
	border:none;
	/*border: 1px red solid;*/
	border-radius: 8px;
	background-color: #2F4F4F;
}
#submit:hover{
	background-color:#388E8E;
}

/*图片预览*/
.float{
    /*float:left;*/
    width : 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    position: relative;
    top:-390px;
    left: 420px;
    margin-right: 50px;

}
#select{
	position: relative;
	top:-260px;
	left: 10px;
	padding: 5px 50px 5px 50px;
	border: none;
	outline: none;

}
#select:hover{
	background-color: #152a36;
	color: white;

}
.result{
    width: 100px;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
}


#file_input{
    display: none;
}
.delete:hover{
    cursor: pointer;
    opacity: 1;
}